@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Caveat&family=Pixelify+Sans&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
 
body{ 
    margin:0px; 
    min-height: 100%; 
     
} 
.parentText{ 
    margin-top: 5%; 
    background-color: rgb(61, 164, 172); 
    height:40%; 
    width: 100%; 
    display: flex; 
    justify-content: space-between; 
} 
.childImage{ 
    height:100%; 
    width: 20%; 
    background-color: rgb(192, 97, 97); 
    border-radius: 20px; 
    margin-left: 1%; 
    margin-right: 1%; 
} 
 
.childtext{ 
    height:100%; 
    width: 70%; 
    background-color: rgb(176, 218, 37); 
    border-radius: 20px; 
    margin-left: 1%; 
    margin-right: 1%; 
} 
#textOne{ 
    text-align: center; 
    font-size:1.5em; 
    color: blueviolet; 
    letter-spacing: 10px; 
    font-family: 'Merriweather', serif; 
} 
#textTwo{ 
    text-align: center; 
    font-size:1.5em; 
    color: blueviolet; 
    letter-spacing: 10px; 
    font-family: 'Caveat', cursive; 
}